<div class="symptom">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">


          <img src="./assets/preventionImg.gif" alt="prevention gif">
          <h3 class="card-title">STAY HOME. SAVE LIVES.</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1. <b>STAY</b> home as much as you can</li>
            <li class="list-group-item">2. <b>KEEP</b> a safe distance</li>
            <li class="list-group-item">3. <b>WASH</b> hands often</li>
            <li class="list-group-item">4. <b>COVER</b> your cough</li>
            <li class="list-group-item">5. <b>SICK?</b> Call ahead</li>
          </ul>
          <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class="btn btn-primary MoreInfo" target="_blank">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="imgClass">
                
            <img src="./assets/light_fever.gif" alt="fever gif" class="feverGif"> 
          <img src="./assets/light_cough.gif" alt="cough gif" class="coughGif">
         
         </div>
        <div class="card-body">


          <h5 class="card-title">Watch for symptoms</h5>
          <p class="card-text">COVID-19 affects different people in different ways. Infected people have had a wide range of symptoms reported – from mild symptoms to severe illness.</p>

          <p class="card-text">Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:</p>
          <ul class="">
            <li class="symptomLi">Cough</li>
            <li class="symptomLi">Shortness of breath or difficulty breathing</li>
            <li class="symptomLi">Fever</li>
            <li class="symptomLi">Chills</li>
            <li class="symptomLi">Muscle pain</li>
            <li class="symptomLi">Sore Throat</li>
            <li class="symptomLi">New loss of taste or smell</li>   
          </ul>

          <p class="card-text">Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:</p>
          <ul class="">
            <li class="symptomLi">Trouble breathing</li>
            <li class="symptomLi">Persistent pain or pressure in the chest</li>
            <li class="symptomLi">New confusion</li>
            <li class="symptomLi">Inability to wake or stay awake</li>
            <li class="symptomLi">Bluish lips or face</li>
          </ul>
          <p class="card-text">Call your medical provider for any other symptoms that are severe or concerning to you.</p>
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" class="btn btn-primary MoreInfo" target="_blank">More Info</a>

        </div>
      </div>
    </div>
  </div>
</div>