<div class="stat-div">

    <select class="dropdown" (change)="getUSStats($event.target.value)">
        <option value="0">--Select State--</option>
        <option *ngFor="let state of stateSlug" value={{state}}>
          {{state}}
        </option>
      </select>

    <div class="chart" style="width: 70%;">
        <canvas
            baseChart
            [chartType]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"
           >
        </canvas>
      </div>


</div>