.card-deck{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* position: absolute; */
    margin: 0 auto;
    top: 100px;
    margin-top: -3%;
   
}
.titleClass{
    float: left;
}
.globeImg {
    height: 40px;
    width: 40px;
    float: right;
    padding: 5px;
}