

.footDiv{
    height:  280px;
    background-color: rgba(1, 1, 8, 0.904);
}

nav{
    background-color: rgba(1, 1, 8, 0.904);
    
}

.navbar-nav li{
        
        margin: 10px;
        
}

.navbar-nav li a{
    color: white;
}

.navbar-nav li a:hover {
   color: white;
   border-bottom: 1px solid white;
}

.sources {
    color: white;
    
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.sources a{
    color: white;
}

.sources li {
    margin-left: 30px;
}

.madeBy {
    color: white;
    text-align: center;
    
}

.madeBy a{
    color: white;
    
}

.madeBy p{
    height: 10px;
}