<!-- <div class="wrapper">
    <header>
        <div class="headerText">
           <h1> Covid Tracker</h1>
        </div>
        
    </header>


    <app-global></app-global>


    
</div>
<app-news></app-news>
<app-summary></app-summary> -->
<nav class="navbar navbar-expand-lg navbar-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#summaryTable">Cases Worldwide</a>
        </li>
        <li class="nav-item">
            <a routerLink="/united-states" class="nav-link" >Covid in USA</a>
          
        </li>
      </ul>
    </div>
  </nav>
 
<router-outlet></router-outlet>

<footer>
    <div class="footDiv">
        <div class="sources">
            <h5>Data source:</h5>
            <ul class="list-group">

                <li><u><a href="https://documenter.getpostman.com/view/8854915/SzS8rjHv?version=latest">The COVID Tracking Project </a></u></li>
                <li><u><a href="https://documenter.getpostman.com/view/8854915/SzS8rjHv?version=latest">Coronavirus COVID 19 API (covid19api.com) </a></u></li>
                <li><u><a href="https://www.google.com/covid19/">Google Covid-19 alert</a></u></li>
                <li><u><a href="https://newsapi.org/">News Api</a></u></li>
            </ul>
            <!-- <h3>Sources</h3>
            <p><a href="https://documenter.getpostman.com/view/8854915/SzS8rjHv?version=latest">The COVID Tracking Project </a> </p>
            <p><a href="https://documenter.getpostman.com/view/8854915/SzS8rjHv?version=latest">Coronavirus COVID 19 API (covid19api.com) </a> </p> -->

        </div>
        <div class="madeBy">
            <p>Made by: Anooj Kinagi, 2020</p>
            <p>Email: kinagianooj@gmail.com</p>
            <p><a href="https://github.com/anoojkinagi/">GitHub</a> | <a href="https://www.linkedin.com/in/anoojkinagi/">LinkedIn</a> | <a href="https://github.com/anoojkinagi">Porftolio</a> </p>
        </div>
        
    </div>
</footer>
