
<div class="newsCard">
    <div class="card-header">
        <h3>Related News</h3>
      </div>
<div *ngFor="let item of newsArray; index as i"  class="card">
    <div class="card-header">
      {{item.publication}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h5>"{{item.title}}"</h5>
        <a href="{{item.url}}" target="_blank">{{item.url}}</a>
        <footer class="blockquote-footer"><cite title="Source Title">{{item.author}}</cite></footer>
      </blockquote>
      <p class="card-text"><small class="text-muted">{{item.publishDate | date}}</small></p>
    </div>
  </div>
</div>
